.mWrapper {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.movieBox {
  height: 200px;
  min-width: 150px;
  background-color: #111827;
  margin-right: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
  background-image: url('/download.jpeg');
  background-size: cover;
  background-position: center;
}

.reviewBox {
  height: 100px;
  width: 400px;
  background-color: #111827;
  margin-bottom: 30px;
  border-radius: 10px;
  padding-left: 10px;
}

.animate {
  animation-duration:1s;
  animation-fill-mode:both
}

.animate-infinite{
  animation-iteration-count:infinite
}

@keyframes sliderTag {
  from {
    transform: translateX(-200px);
  }

  to{
    transform: translateX(0px);
  }
  
}