



.mWrapper {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.movieBox {
  height: 200px;
  min-width: 150px;
  background-color: #111827;
  margin-right: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.reviewBox {
  height: 100px;
  width: 400px;
  background-color: #111827;
  margin-bottom: 30px;
  border-radius: 20px;
  padding-left: 10px;
}